.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 100px;
  border-radius: 4px;
  pointer-events: none;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;

  // TODO
  // Show the following number of grid items per row per breakpoint
  // < 480px - x 1
  // < 768px - x 2
  // >= 768px - x 3
  > * {
    flex: 1;
    min-width: 300px;
    margin: 1rem;
  }
}
